  <% if not @cart or @cart.line_items.empty? %>
    <h2 class='font-bold text-xl mb-3'>Your Pragmatic cart is empty 😢</h2>
    <p class="text-slate-500 font-medium">
      Your shopping basket lives to serve. Give it purpose – fill it with 
      beautiful books!
    </p>
    <p class="text-slate-500 font-medium">
      Continue shopping on the <%= link_to "Pragmatic homepage", store_index_url, 
        class: 'text-green-600' %> learn about today's deals, or visit your 
        Wish List.
    </p>
  <% else %>
    
    <% if line_item == @current_item %>
      <tr class="line-item-highlight">
    <% else %>
      <tr>
    <% end %>
      <td class="text-right"><%= line_item.quantity %></td>
      <td>&times;</td>
      <td class="pr-2">
        <%= line_item.product.title %>
      </td>
      <td class="text-right font-bold">
        <%= number_to_currency(line_item.total_price) %>
      </td>
      <td>
        <%= button_to 'Delete', line_item, 
            method: :delete,
            class: 'ml-4 rounded-lg py-1 px-2 text-white bg-green-600' %>
      </td>
    </tr>
  <% end %>
